<div class="w-full">


  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <%= link_to "New post", new_post_path, class: "rounded-lg py-3 px-5 bg-lime-500 text-white block font-medium" %>
  </div>

  <div>
    <h2 class="text-3xl font-bold">Posts Count: <span class="text-lime-500"><%= Post.count %></span></h2>
  </div>
  <div id="posts" class="min-w-full">
    <%= render @posts %>
  </div>
</div>
